<% include partials/header %>

<div id="game">
    <canvas id="canvas" style="border: 1px solid black;" width="1800" height="900"></canvas>
    <audio style="display: none;"><source src="" type="audio/mpeg"></audio>
</div>
<div id="lobby">
    <h1>Welcome to AirHockey</h1>
    <h3>Lobby</h3>
    <div style="width: 25%">
        <h4>Paikalla olevat pelaajat</h4>
        <ul id="players">

        </ul>
    </div>
    <div style="width: 75%">
        <h4>Avoimet pelit</h4>
        <ul id="games">

        </ul>
    </div>
</div>

<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/game.js"></script>

<% include partials/footer %>