<% include partials/header.ejs %>

    <div style="display: flex; align-items: center; justify-content: space-around; height: 70vh;">
        <div>
            <h3 style="text-align: center">Istuntosi on vanhentunut</h3>
            <p style="text-align: center">Kirjaudu uudelleen sisään</p>
        </div>
    </div>

<% include partials/footer.ejs %>