<% include partials/header.ejs %>

<div class="container">
    <div style="margin-top: 30px" class="row">
        <div class="col-12 col-md-4">
            <div style="background-color: #5f5f65;padding: 15px; border-radius: 10px" class="card">
                <img style="height: 170px" src="images/Screenshot_10.png">
                <h3 style="color: white;">Ilmakiekko</h3><br>
                <a href="/airhockey"><button class="btn btn-success">Pelaa nyt</button></a>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div style="background-color: #5f5f65;padding: 15px; border-radius: 10px" class="card">
                <img style="height: 170px" src="images/Screenshot_11.png">
                <h3 style="color: white;">Tankkipeli</h3><br>
                <a href="/tanks"><button class="btn btn-success">Pelaa nyt</button></a>
            </div>
        </div>
    </div>
</div>

<% include partials/footer.ejs %>