<% include partials/header.ejs %>

<div style="display:block" id="game">
    <div style="display: flex; justify-content: space-around; align-items: center; margin-top: 30px">
        <canvas id="canvas" style="border: 1px solid black;" width="1300" height="700"></canvas>
    </div>
</div>
<div style="min-height: 75vh" id="lobby" class="container">
    <div class="row">
        <div class="col-12">
            <h1>Tankkipeli</h1>
            <h3>Aula</h3>
        </div>
        <div class="col-8">
            <h4>Aulassa olevat pelaajat</h4>
            <ul id="players">

            </ul>
        </div>
        <div class="col-4">
            <h4>Avoimet pelit</h4>
            <ul id="games">

            </ul>
            <button id="createGame" class="btn btn-outline-success">Luo peli</button>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="js/game.js"></script>

<% include partials/footer.ejs %>